extends page

block tabs
    ul(data-role='nd2tabs' data-swipe=true)
        - var fadeDelay = 0;
        li.wow.fadeInUp(data-tab='dashboard', data-wow-delay=(fadeDelay += 0.1) + 's') Dashboard
        li.wow.fadeInUp(data-tab='games', data-wow-delay=(fadeDelay += 0.1) + 's') Games

block content
    div(data-role='nd2tab', data-tab='dashboard')
        p Welcome #{session.user.firstName}!

        p.
            You're using an early prototype of #{app.name}, which is still an unfinished product.<br>
            <br>
            #{app.name} is currently in the pre-alpha stage and is still prone to bugs, glitches and other unwanted behaviour.<br>
            <br>
            Please contribute to the project and support the development on GitHub.

        .button-list
            a.ui-btn(href='https://github.com/timvisee/Dworek', title='Support on GitHub') View on GitHub
            a.ui-btn(href='/about', title='About') About
            a.ui-btn.clr-warning(href='/logout', title='Logout') Logout

    div(data-role='nd2tab', data-tab='games')
        - var fadeDelay = -0.1;

        ul(data-role='listview')
            if games.games.active.length > 0
                li.wow.fadeInUp(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') Active games
                each game in games.games.active
                    li.wow.fadeInUp(data-wow-delay=(fadeDelay += 0.1) + 's'): a(href='/game/' + game.id)= game.name
                        span.ui-li-count() #{game.userCount} user#{game.userCount === 1 ? '' : 's'}

            li.wow.fadeInUp(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') Newest open games
            if games.games.open.length > 0
                each game in games.games.open
                    li.wow.fadeInUp(data-wow-delay=(fadeDelay += 0.1) + 's'): a(href='/game/' + game.id)= game.name
                        span.ui-li-count() #{game.userCount} user#{game.userCount === 1 ? '' : 's'}
            else
                li.wow.fadeInUp(data-wow-delay=(fadeDelay += 0.1) + 's'): i No games in this category...

        br
        a.ui-btn.wow.fadeInUp(href='/games', data-wow-delay=(fadeDelay += 0.1) + 's', title='View all games...') View all games...