extends page

block tabs
    ul(data-role='nd2tabs' data-swipe=true)
        li(data-tab='dashboard') Dashboard
        li(data-tab='games') Games

block content
    div(data-role='nd2tab', data-tab='dashboard')
        p Welcome #{session.user.firstName}! You're logged in.

        p Show some fancy game buttons...

        br
        a.ui-btn.clr-warning(href='/logout', title='Logout') Logout

    div(data-role='nd2tab', data-tab='games')
        ul(data-role='listview')
            if games.games.active.length > 0
                li(data-role='list-divider') Active games
                each game in games.games.active
                    li: a(href='/game/#{game.id}')= game.name
                        span.ui-li-count() #{game.playerCount} player#{game.playerCount === 1 ? '' : 's'}

            li(data-role='list-divider') Newest open games
            if games.games.open.length > 0
                each game in games.games.open
                    li: a(href='/game/#{game.id}')= game.name
                        span.ui-li-count() #{game.playerCount} player#{game.playerCount === 1 ? '' : 's'}
            else
                li: i No games in this category...

            hr
            a.ui-btn(href='/games', title='View all games...') View all games...