extends page

block content
    .nd2-card.wow.fadeInUp.card-factory-info
        .card-title.has-supporting-text
            h3.card-primary-title Lab summary

        .card-supporting-text.has-action.has-title
            table.table-list.ui-responsive
                tr: td Name
                    td.factory-name= factory.name
                tr: td Level
                    td.factory-level= factory.level
                tr: td Creator
                    td.factory-creator= factory.creatorName
                tr: td Team
                    td.factory-team= factory.teamName
                tr: td Defence
                    td.factory-defence= factory.defence
                tr: td.game-label-input Ingerients
                    td
                        span.factory-in= factory.in
                        | &nbsp;
                        span(style="color: gray;") − <span class="factory-production-in">?</span> / tick
                tr: td.game-label-output Drugs
                    td
                        span.factory-out= factory.out
                        | &nbsp;
                        span(style="color: gray;") + <span class="factory-production-out">?</span> / tick

    .nd2-card.wow.fadeInUp.card-factory-transfer
        .card-title.has-supporting-text
            h3.card-primary-title Deposit/Withdraw

        .card-supporting-text.has-action.has-title
            p Deposit and/or withdraw goods here.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.action-factory-deposit(href='#', data-transition='slide', data-rel='popup')
                    i.zmdi.zmdi-arrow-right
                    | &nbsp;&nbsp;Deposit
                a.ui-btn.waves-effect.waves-button.action-factory-withdraw(href='#', data-transition='slide', data-rel='popup')
                    i.zmdi.zmdi-arrow-left
                    | &nbsp;&nbsp;Withdraw

    .nd2-card.wow.fadeInUp.card-factory-defence
        .card-title.has-supporting-text
            h3.card-primary-title Upgrade defence

        .card-supporting-text.has-action.has-title
            p Upgrading the defence makes it harder for enemies to take things over.

        .card-action
            .row.between-xs: .col-xs-12: .box.upgrade-button-list
                div(align="center")
                    i No upgrades available...<br>

    .nd2-card.wow.fadeInUp.card-factory-level
        .card-title.has-supporting-text
            h3.card-primary-title Upgrade level

        .card-supporting-text.has-action.has-title
            p Upgrading the level speeds up production.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.action-factory-level-upgrade(href='#', data-transition='slide', data-rel='popup')
                    i.zmdi.zmdi-star
                    | &nbsp;&nbsp;Upgrade level&nbsp;&nbsp;(<span class="factory-next-level-cost">?</span>)
