extends page

block content
    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Factory information

        .card-supporting-text.has-action.has-title
            table.table-list.ui-responsive
                tr: td Name
                    td.factory-name= factory.name
                tr: td Level
                    td.factory-level= factory.level
                tr: td Creator
                    td.factory-creator= factory.creatorName
                tr: td Team
                    td.factory-team= factory.teamName
                tr: td Defence
                    td.factory-defence= factory.defence
                tr: td.game-label-input In
                    td
                        span.factory-in= factory.in
                        | &nbsp;
                        span(style="color: gray;") − <span class="factory-production-in">?</span> / tick
                tr: td.game-label-output Out
                    td
                        span.factory-out= factory.out
                        | &nbsp;
                        span(style="color: gray;") + <span class="factory-production-out">?</span> / tick

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Upgrade defence

        .card-supporting-text.has-action.has-title
            p Upgrading the defence makes it harder for enemies to take things over.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.action-level-upgrade(href='#', data-transition='slide', data-rel='popup')
                    i.zmdi.zmdi-plus
                    | &nbsp;&nbsp;Mexicans ($123 / +400)
                a.ui-btn.waves-effect.waves-button.action-level-upgrade(href='#', data-transition='slide', data-rel='popup')
                    i.zmdi.zmdi-plus
                    | &nbsp;&nbsp;Wall ($123 / +400)
                a.ui-btn.waves-effect.waves-button.action-level-upgrade(href='#', data-transition='slide', data-rel='popup')
                    i.zmdi.zmdi-plus
                    | &nbsp;&nbsp;Alarm ($123 / +400)
                a.ui-btn.waves-effect.waves-button.action-level-upgrade(href='#', data-transition='slide', data-rel='popup')
                    i.zmdi.zmdi-plus
                    | &nbsp;&nbsp;Mexicans ($123 / +400)
                a.ui-btn.waves-effect.waves-button.action-level-upgrade(href='#', data-transition='slide', data-rel='popup')
                    i.zmdi.zmdi-plus
                    | &nbsp;&nbsp;Mexicans ($123 / +400)

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Upgrade level

        .card-supporting-text.has-action.has-title
            p Upgrading the level speeds up production.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.action-level-upgrade(href='#', data-transition='slide', data-rel='popup')
                    i.zmdi.zmdi-long-arrow-up
                    | &nbsp;&nbsp;Upgrade level ($123)

