extends page

block content
    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Factory information

        .card-supporting-text.has-action.has-title
            table.table-list.ui-responsive
                tr: td Name
                    //td.factory-name= factory.name
                    td.factory-name= factory.name
                tr: td Level
                    //td.factory-level= factory.level
                    td.factory-level= factory.level
                tr: td Creator
                    td.factory-creator= factory.creatorName
                tr: td Team
                    td.factory-team= factory.teamName
                tr: td Defence
                    td.factory-defence= factory.defence
                tr: td.game-label-input In
                    td.factory-in= factory.in
                tr: td.game-label-output Out
                    td.factory-out= factory.out
