extends page

block content
    ul(data-role='listview')
        - var fadeDelay = -0.1;

        if games.category == null
            li.wow.fadeInUp(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') Categories
        else
            li.wow.fadeInUp(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') #{games.category} games

        if games.category == null
            li: a.wow.fadeInUp(href='/games/open', data-transition='slide', data-wow-delay=(fadeDelay += 0.1) + 's') Open games...
                span.ui-li-count()= games.openCount
            li: a.wow.fadeInUp(href='/games/active', data-transition='slide', data-wow-delay=(fadeDelay += 0.1) + 's') Active games...
                span.ui-li-count()= games.activeCount
            li: a.wow.fadeInUp(href='/games/finished', data-transition='slide', data-wow-delay=(fadeDelay += 0.1) + 's') Finished games...
                span.ui-li-count()= games.finishedCount

        else
            if games.games.length > 0
                each game in games.games
                    li: a.wow.fadeInUp(href='/game/#{game.id}', data-wow-delay=(fadeDelay += 0.1) + 's')= game.name
                        span.ui-li-count() #{game.userCount} user#{game.userCount === 1 ? '' : 's'}
            else
                li.wow.fadeInUp(data-wow-delay=(fadeDelay += 0.1) + 's'): i No games in this category...
