extends page

block tabs
    ul(data-role='nd2tabs' data-swipe=true)
        - var fadeDelay = 0;
        li.wow.fadeInUp(data-tab='info', data-wow-delay=(fadeDelay += 0.1) + 's') Info
        li.wow.fadeInUp(data-tab='map', data-wow-delay=(fadeDelay += 0.1) + 's') Map
        li.wow.fadeInUp(data-tab='actions', data-wow-delay=(fadeDelay += 0.1) + 's') Actions

block content
    div(data-role='nd2tab', data-tab='info')
        if game.userState.player || game.userState.spectator || game.userState.special
        else if game.userState.requested
            .nd2-card.wow.fadeInUp
                .card-title.has-supporting-text
                    h3.card-primary-title Requested to join

                .card-supporting-text.has-action.has-title.
                    You've requested to join this game.
                    Please wait for the game host to accept your request.

        else
            .nd2-card.wow.fadeInUp
                .card-title.has-supporting-text
                    h3.card-primary-title Open game

                .card-supporting-text.has-action.has-title.
                    You aren't part of this game yet, and it's still open.
                    Click the button below to request to join the game.

                .card-action
                    .row.between-xs: .col-xs-12: .box
                        a.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href=page.url + '/join', data-transition='slide') Request to join

        .nd2-card.wow.fadeInUp
            .card-title.has-supporting-text
                h3.card-primary-title Game information

            .card-supporting-text.has-action.has-title
                table.table-list.ui-responsive
                    tr: td Name
                        td= game.name
                    tr: td Teams
                        td ?
                    tr: td Participants
                        td= game.usersCount.totalAccepted
                            span.gray  players
                    if game.usersCount.requested > 0
                        tr: td Requested
                            td= game.usersCount.requested
                                span.gray  users

            .card-action
                .row.between-xs: .col-xs-12: .box
                    a.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href=page.url + '/info', data-transition='slide') More info

    div(data-role='nd2tab', data-tab='map')
        p Show map here...

    div(data-role='nd2tab', data-tab='actions')
        p Show actions here...

        br
        .button-list
            a.ui-btn(href='#', onclick='featureNotAvailable()', title='Open shop') Open shop
            a.ui-btn(href='#', onclick='featureNotAvailable()', title='Open lab') Open lab
