extends page

block content
    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Game information

        .card-supporting-text.has-action.has-title
            table.table-list.ui-responsive
                tr: td Name
                    td= game.name
                tr: td Teams
                    td= game.teams.teamCount
                tr: td In team
                    td= game.users.usersCount.players
                        span.gray  of #{game.user.usersCount.totalAccepted} player#{game.user.usersCount.totalAccepted == 1 ? '' : 's'}
                tr: td Spectators
                    td= game.user.usersCount.players
                        span.gray  of #{game.user.usersCount.totalAccepted} player#{game.user.usersCount.totalAccepted == 1 ? '' : 's'}
                tr: td Special
                    td= game.user.usersCount.players
                        span.gray  of #{game.user.usersCount.totalAccepted} player#{game.user.usersCount.totalAccepted == 1 ? '' : 's'}
                tr: td Requested
                    td= game.user.usersCount.requested
                        span.gray  user#{game.user.usersCount.requested == 1 ? '' : 's'}