extends page

block content
    ul(data-role='listview')
        if games.category == null
            li(data-role='list-divider') Categories
        else
            li(data-role='list-divider') #{games.category} games

        if games.category == null
            li: a(href='/games/active', data-transition='slide') Active games...
                span.ui-li-count()= games.activeCount
            li: a(href='/games/open', data-transition='slide') Open games...
                span.ui-li-count()= games.openCount
            li: a(href='/games/finished', data-transition='slide') Finished games...
                span.ui-li-count()= games.finishedCount

        else
            if games.games.length > 0
                each game in games.games
                    li: a(href='/game/#{game.id}')= game.name
                        span.ui-li-count() 0 players
            else
                li: i No games in this category...
