extends page

block content
    ul(data-role='listview')
        - var fadeDelay = -0.1;

        if game.users.category == null
            if game.users.count.requested > 0
                li.wow.fadeInUp(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') Join requests
                li: a.wow.fadeInUp(href=page.url + '/requested', data-transition='slide', data-wow-delay=(fadeDelay += 0.1) + 's') Requests...
                    span.ui-li-count()= game.users.count.requested

            li.wow.fadeInUp(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') Players
            li: a.wow.fadeInUp(href=page.url + '/players', data-transition='slide', data-wow-delay=(fadeDelay += 0.1) + 's') Team players...
                span.ui-li-count()= game.users.count.players
            li: a.wow.fadeInUp(href=page.url + '/specials', data-transition='slide', data-wow-delay=(fadeDelay += 0.1) + 's') Special players...
                span.ui-li-count()= game.users.count.specials
            li: a.wow.fadeInUp(href=page.url + '/spectators', data-transition='slide', data-wow-delay=(fadeDelay += 0.1) + 's') Spectators...
                span.ui-li-count()= game.users.count.spectators

            if game.users.count.requested == 0
                li: a.wow.fadeInUp(href=page.url + '/requested', data-transition='slide', data-wow-delay=(fadeDelay += 0.1) + 's') Requests...
                    span.ui-li-count()= game.users.count.requested

        else
            li.wow.fadeInUp(data-role='list-divider', data-wow-delay=(fadeDelay += 0.1) + 's') Users
            if game.users.users.length > 0
                each user in game.users.users
                    li.wow.fadeInUp(data-wow-delay=(fadeDelay += 0.1) + 's')= user.firstName + ' ' + user.lastName
                    //- user.firstName + ' ' + user.lastName
            else
                li.wow.fadeInUp(data-wow-delay=(fadeDelay += 0.1) + 's'): i No users in this category...