include base

#leftpanel(data-role='panel', data-display='overlay', data-position-fixed=true)

    if session.valid
        .nd2-sidepanel-profile.wow.fadeInDown
            img.profile-background(src='/img/sidebar_bg.png')
            .row
                .col-xs-4.center-xs
                    .box
                        img.profile-thumbnail(src=session.user.avatarUrl)

                .col-xs-8
                    .box.profile-text
                        if session.user.hasNickname
                            strong= session.user.nickname
                            span.subline= session.user.firstName + ' ' + session.user.lastName
                        else
                            strong= session.user.firstName
                            span.subline= session.user.lastName

    else
        h4 Dworek

    ul(data-role='listview')
        li(data-role='list-divider') Pages

        unless session.valid
            li: a(href='/') Frontpage
            li: a.clr-primary(href='/login') Login
            li: a.clr-primary(href='/register') Register
        else
            li: a(href='/') Dashboard
            li: a(href='/games') Games
            li: a.clr-warning(href='/logout')
                i.zmdi.zmdi-lock &nbsp;&nbsp;
                span Logout

        //div(data-role='collapsible', data-inset=false, data-collapsed-icon='carat-d', data-expanded-icon='carat-d', data-iconpos='right')
        //    h3 Basic Elements
        //    ul(data-role='listview', data-inset=false, data-icon=false)
        //        li: a(href='/') Item 1
        //        li: a(href='/') Item 2

        hr.inset
        li(data-role='list-divider') Information
        li: a(href='/about') About
        li: a(href='/status') Application status