extends page

block content
    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Application status

        .card-supporting-text.has-action.has-title
            p The cards below show the current status of the #{app.name} servers and sub-systems.

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Session

        .card-supporting-text.has-action.has-title
            p Status of your current session.
            table.table-list.ui-responsive
                tr: td Logged in
                    td
                        if session.valid
                            span(style='color: green;') Yes
                        else
                            | No
                if session.valid
                    tr: td Name
                        td: i= session.user.firstName

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Server Status

        .card-supporting-text.has-action.has-title
            p Status of the actual machine #{app.name} is running on.
            table.table-list.ui-responsive
                tr: td CPUs
                    td: span.cpus= status.server.cpus.length
                        span(style="gray")  cores
                tr: td Cores
                    td: span.cpus: ul
                        each cpu in status.server.cpus
                            li= cpu.model
                tr: td Architecture
                    td: span.arch= status.server.arch

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Game Logic

        .card-supporting-text.has-action.has-title
            p Status of the sub-system processing the logic for all active games.
            table.table-list.ui-responsive
                tr: td Status
                    td
                        if status.live.gameCount > 0
                            span(style='color: green;') Working
                        else
                            span Idle
                tr: td Active games
                    td: span.activeGameCount= status.live.gameCount
                        span(style="color: gray;")  (Loaded in RAM)

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Real-time

        .card-supporting-text.has-action.has-title
            p Status of the server handling all real-time connections to clients.
            table.table-list.ui-responsive
                tr: td Status
                    td
                        if status.realtime.online
                            span(style='color: green;') Online
                        else
                            span(style='color: red;') Offline
                tr: td Connected clients
                    td= status.realtime.connections

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Web Server

        .card-supporting-text.has-action.has-title
            p Status of the web server providing you this front-end.
            table.table-list.ui-responsive
                tr: td Status
                    td: span(style='color: green;') Online
                tr: td Uptime
                    td #{status.web.uptime} seconds

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Database

        .card-supporting-text.has-action.has-title
            p Status of the database server.
            table.table-list.ui-responsive
                tr: td Status
                    td
                        if status.mongo.online
                            span(style='color: green;') Online
                        else
                            span(style='color: red;') Offline

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Cache

        .card-supporting-text.has-action.has-title
            p Status of the in-memory caching server.
            table.table-list.ui-responsive
                tr: td Status
                    td
                        if status.redis.online
                            span(style='color: green;') Online
                        else
                            span(style='color: red;') Offline
                if status.redis.online
                    tr: td Uptime
                        td #{status.redis.uptime} seconds
                    tr: td Queries processed
                        td= status.redis.commandCount
                    tr: td Cached fields
                        td= status.redis.keyCount
                    tr: td Used memory
                        td= status.redis.memory

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Internal Cache

        .card-supporting-text.has-action.has-title
            p Status of the high-performance internal caching sub-system.
            table.table-list.ui-responsive
                tr: td Cached objects
                    td= status.cache.objectCount
                tr: td Cached fields
                    td #{status.cache.fieldCount}
