extends ../base/page

block content
    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Game information

        .card-supporting-text.has-action.has-title
            table.table-list.ui-responsive
                tr: td Name
                    td= game.name
                tr: td Stage
                    case game.stage
                        when 0
                            td Not yet started
                        when 1
                            td Started
                        when 2
                            td Finished
                tr: td Teams
                    td= game.teams.teamCount
                tr: td Players
                    td= game.users.usersCount.players
                        span.gray  of #{game.users.usersCount.totalAccepted} player#{game.users.usersCount.totalAccepted === 1 ? '' : 's'}
                tr: td Spectators
                    td= game.users.usersCount.spectators
                        span.gray  of #{game.users.usersCount.totalAccepted} player#{game.users.usersCount.totalAccepted === 1 ? '' : 's'}
                tr: td Special
                    td= game.users.usersCount.specials
                        span.gray  of #{game.users.usersCount.totalAccepted} player#{game.users.usersCount.totalAccepted === 1 ? '' : 's'}
                tr: td Requested
                    td= game.users.usersCount.requested
                        span.gray  user#{game.users.usersCount.requested === 1 ? '' : 's'}

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href=page.url + '/../players', data-transition='slide') Players
                a.ui-btn.ui-btn-inline.waves-effect.waves-button.waves-effect.waves-button(href=page.url + '/../teams', data-transition='slide') Teams
