extends ../../base/page

block content
    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Aura of expense

        .card-supporting-text.has-action.has-title
            p Make the closest players lose 30% of their money.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-expense-1(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Closest player
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-expense-2(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Closest 2 players
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-expense-3(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Closest 3 players
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-expense-4(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Farthest player
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-expense-5(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Farthest 2 players

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Aura of luck

        .card-supporting-text.has-action.has-title
            p.
                The money, !{__('in.names', { game: game.id })} and !{__('out.names', { game: game.id })} of the closest
                players is increased by 10%.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-luck-1(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Closest player
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-luck-2(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Closest 2 players
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-luck-3(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Closest 3 players
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-luck-4(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Farthest player
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-luck-5(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Farthest 2 players

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Aura of Golden Age

        .card-supporting-text.has-action.has-title
            p Players receive !{__('currency.sign', { game: game.id })}5000.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-goldenage-1(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Closest player
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-goldenage-2(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Farthest player
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-goldenage-3(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Players within 100 meters
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-goldenage-4(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Players within 500 meters
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-goldenage-5(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Players within 2 km

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Aura of psychopathy

        .card-supporting-text.has-action.has-title
            p The closest player is affected by the following action.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-psycho-1(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;!{__('in.names', { game: game.id })} to 0
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-psycho-2(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;!{__('in.names', { game: game.id })} -75%
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-psycho-3(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;!{__('out.names', { game: game.id })} to 0
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-psycho-4(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;!{__('out.names', { game: game.id })} -45%
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-psycho-5(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Money -30%
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-aura-psycho-6(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;All -20%

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Nerf richest player

        .card-supporting-text.has-action.has-title
            p Nerf the current richest player by decreasing it's units.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-nerf-player-richest-1(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;!{__('in.names', { cappitalizeFirst: true, game: game.id })} -50%
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-nerf-player-richest-2(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;!{__('out.names', { cappitalizeFirst: true, game: game.id })} -50%
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-nerf-player-richest-3(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Money -50%

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Nerf richest team

        .card-supporting-text.has-action.has-title
            p Nerf the players in the current richest team by decreasing their units.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-nerf-team-richest-1(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Money -35%
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-nerf-team-richest-2(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;!{__('out.names', { cappitalizeFirst: true, game: game.id })} -35%
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-nerf-team-richest-3(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;!{__('in.names', { cappitalizeFirst: true, game: game.id })} to 0

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Boost poorest players

        .card-supporting-text.has-action.has-title
            p Boost the poorest players by increasing their money by 200%.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-boost-player-poorest-1(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Poorest player
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-boost-player-poorest-2(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Poorest 2 players
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-boost-player-poorest-3(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Poorest 3 players
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-boost-player-poorest-4(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Poorest 4 players

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Boost poorest teams

        .card-supporting-text.has-action.has-title
            p Boost the players in the poorest teams by increasing their money by 100%, and by increasing their !{__('in.names', { game: game.id })} by 40%.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-boost-team-poorest-1(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Poorest team
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-boost-team-poorest-2(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Poorest 2 teams
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary.action-boost-team-poorest-3(href='#', data-transition='slide')
                    i.zmdi.zmdi-flare
                    | &nbsp;&nbsp;Poorest 3 teams

    .nd2-card.wow.fadeInUp
        .card-title.has-supporting-text
            h3.card-primary-title Custom action

        .card-supporting-text.has-action.has-title
            p Define your own custom action.

        .card-action
            .row.between-xs: .col-xs-12: .box
                a.ui-btn.waves-effect.waves-button.waves-effect.waves-button.clr-primary(href='/game/' + game.id + '/special/custom', data-transition='slide')
                    i.zmdi.zmdi-edit
                    | &nbsp;&nbsp;Custom action
